.footer {
	width: inherit;
	height: 40px;
	display: flex;
	align-items: center;
	position: relative;
	font-size: 15px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.253);
	background-color: white;
}

.footer p {
	margin-left: 20px;
	color: #777;
}

.footer::after{
	content: '';
	width: 99%;
	border: 1px solid rgba(128, 128, 128, 0.253);
	background-color: inherit;
	position: absolute;
	left: 1.5px;
	bottom: -5.6px;
	height: 3.4px;
}
.footer::before{
	content: '';
	width: 98%;
	border: 1px solid rgba(128, 128, 128, 0.253);
	background-color: inherit;
	position: absolute;
	left: 3.5px;
	bottom: -10.5px;
	height: 3.4px;
}

.footerDark{
	background-color:rgb(218, 218, 218);
}