.clearButton {
	height: 16px;
	border: none;
	background-color: inherit;
	border: 1px solid transparent;
	outline: none;
	position: absolute;
	right: 10px;
	border-bottom: 1px solid transparent;
	visibility: hidden;
	color: #777;
}

.visible {
	visibility: visible;
}

.clearButton:hover {
	cursor: pointer;
	text-decoration: underline;
}
