.todoitem {
	display: flex;
	justify-content: left;
	align-items: center;
	width: inherit;
	height: 50px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.253);
	font-size: 20px;
	position: relative;
	text-align: left;
	background-color: white;
}

.itemText {
	/* transition: color 0.4s; */
	margin: 0 20px;
}
