.underLines {
	width: inherit;
	height: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.firstLine {
		width: 99%;
		height: 3.4px;
		border-bottom: 1px solid rgba(128, 128, 128, 0.253);
		background-color: rgb(243, 243, 243);
	}

	.secondLine {
		width: 98%;
		height: 3.4px;
		border-bottom: 1px solid rgba(128, 128, 128, 0.253);
		background-color: rgb(243, 243, 243);
	}
}
